body{
  background-color: white;
  font-family: sans-serif;
position: relative;
padding: 20px;

}
header {
 text-align: center;
 background-color: rgb(255, 0, 0);
 height: 80px;
 padding: 20px;
  color: white;
  font-size: 20px;
}
.contenedor{
  max-width: 100%;
  border:5px ridge;
  background-color: rgb(255, 255, 255);
  height: 70vh;
  margin: 5%;
  flex-direction:column ;

  display:flex ;
  justify-content:center;
  align-items: center;
}

.contenedor2 {
  height: 70vh;
  margin: 5%;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  
  border:5px ridge;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.texto {
  margin-right: 20px;
}


.imagen2 {
  max-width: 100%;
}


.imagen{
  height: 400px;
  margin:5%;
  display: flex;
  justify-content:center;
  border:5px ridge;
}

/* Estilos para el botón */
button {
  display: block;
  margin: 20px auto;
  padding: 30px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;
}

/* Estilos para el footer */
footer {
  text-align: center;
  background-color: #ff0000;
  color: #fff;
  padding: 40px;
  font-size: 40px;

}
